/* main section*/
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-fadeUp {
    animation: fadeUp 0.8s ease-out forwards;
  }
  .opacity-0 {
    opacity: 0;
  }
 